<div class="row" *ngIf="invoices.length > 0">
  <div class="col m12">
    <div class="card grey lighten-5">
      <div class="card-content text-darken-4">
        <span class="card-title">Invoices</span>
        <table class="highlight">
          <thead>
            <tr>
              <th>Invoice Number</th>
              <th>Due Date</th>
              <th>Description</th>
              <th>Total Amount</th>
              <th>Total Amount Paid</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let invoice of invoices" (click)="onClick(invoice)">
              <td>{{ invoice.invoiceNumber }}</td>
              <td>{{ invoice.dueDate | date:'MM/dd/yyyy' }}</td>
              <td>{{ invoice.description }}</td>
              <td>{{ invoice.totalAmount | number:'1.0-8' }}</td>
              <td>{{ invoice.totalAmountPaid | number:'1.0-8' }}
                <span class="new badge red" data-badge-caption="Expired" *ngIf="invoice.status == 'EXPIRED'"></span>
                <span class="new badge blue" data-badge-caption="Partially Paid" *ngIf="invoice.status == 'PARTIALLY_PAID'"></span>
                <span class="new badge green" data-badge-caption="Paid" *ngIf="invoice.status == 'PAID'"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>